@*model ECommerceWebsite.ViewModels.HomeViewModel*@
@{
    ViewBag.Title = "Home Page";

    //  var firstCategory = Model.FeaturedCategories.First();
    // var firstCategory = Model.FeaturedCategories[0];
    //var secondCategory = Model.FeaturedCategories[1];
    //var thirdCategory = Model.FeaturedCategories[2];
    //  var fourthCategory = Model.FeaturedCategories[3];
}
<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/Content/images/slider1.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-white font-weight-300"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-93','-93','-93','-93']"
                     data-fontsize="['24','24','24','18']"
                     data-lineheight="['72','72','72','36']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    NEW TREND 2018
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-500"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-42','-42','-42','-42']"
                     data-fontsize="['52','52','52','40']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    New Collection
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-400 "
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['12','12','12','12']"
                     data-fontsize="['18','18','18','16']"
                     data-lineheight="['72','72','72','38']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    BIG SALE OF THIS WEEK UP TO 30%
                </div>

                <div class="tp-caption"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 1 -->
            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/Content/images/slider2.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['33','33','33','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
                     data-fontsize="['22','22','22','22']"
                     data-lineheight="['60','60','60','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <span class="text-line left"></span>BAKE SALE<span class="text-line right"></span>
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-10 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
                     data-fontsize="['130','130','130','60']"
                     data-lineheight="['130','130','130','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    SALE
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
                     data-fontsize="['48','48','48','28']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    UP TO <span class="text-accent">10%</span> OFF
                </div>

                <div class="tp-caption text-right"
                     data-x="['right','right','right','center']" data-hoffset="['105','105','105','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button bg-accent has-shadow"><span>BUY NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 2 -->
        </ul>
    </div>
</div>
<!-- END SLIDER -->
<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="~/Content/images/slider3.jpg" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white width-150">Featured Item Here</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->

            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="~/Content/images/36041969_2143228802628045_8425114199813783552_n.jpg" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white width-150">Featured Item Here</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->

            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="~/Content/images/20156153_1974916716125922_2396105823198415268_n.jpg" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white width-150">Featured Item Here</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->

<!-- PRODUCT NEW -->
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        New Product
                    </h2>
                </div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 clearfix">
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="~/Content/images/cake_character.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info text-center clearfix">
                                <span class="product-title">Childrens Characters</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$14</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>

                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="~/Content/images/cake_holiday.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info text-center clearfix">
                                <span class="product-title">Valentines Cake</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$15</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>

                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="~/Content/images/cake_bday.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info text-center clearfix">
                                <span class="product-title">Birthday Cake</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$14</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>

                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="~/Content/images/cake_animal.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info text-center clearfix">
                                <span class="product-title">Unicorn Cake</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$14</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>